.side-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.side-nav-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

body{
    margin: 0;
    height:auto;
    background-image: url('../img/about/background.png');
    font-family: Montserrat_reg;
    color:white;
}


@font-face{
    font-family: Montserrat_reg;
    src: url(../fonts/Montserrat-Regular.ttf);
}


.my_face {
    border-radius: 50%;
    width: 25vw;
    height: auto;
    display:block;
    margin-top:-10vw;
    left:72vw;
    position:absolute;
}

.header_name{
    color: white;
    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    */
}

.verticalStrip {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 40vw;
    /*background-color: lightsteelblue;*/
    background-color: black;
    height:200vw;
    z-index:-5;
}

.bio-text{
    top:15vw;
    position:absolute;
    font-size: 1.2vw;
    left:1vw;
    width:39vw;
    color:white;
}

.top-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 5vw;
    z-index: 5;
}

.top-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size:1vw;
}

.follow-container{
    top:5vw;
    position: absolute;
    left:3vw;
    height: 24vw;
    width: 25vw;
    background-color: black;
    border-radius: 10%;
    border-style: solid;
    border-color: #000000;
    display:inline-block;
    margin-right: 0vw;
}

p{
    line-height: 2.5vw;
}